body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  color: #222;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  cursor: pointer;
  font-weight: 600;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

h2, h3, h4 {
  margin-bottom: 1rem;
  color: #222;
}